body {
}

h1 {
    color: #bf6138 !important;
    font-weight: bold !important;
}

#myCarousel {
	margin:0px 0px 10px 0px !important;
}

#Main {
    margin: 60px 0px 0px 0px;
}

#Footer {
    background: #bf6138 !important;
}
